@media(min-width: 1024px){
    .ti-menu{
        display: none;
    }
}
@media((min-width: 768px) and (max-width: 1023px)){
    .header-container{
        width: 90%;
    }
    .logo{
        width: 20%;
    }
    .danhmuc-danhsach{
        display: none;
    }
    
}
@media(max-width: 740px){
   
     .header-container{
        width: 90%;
        height: 90px;
        
    }
    .dangnhap{
        display: none;
    }
    .icon{
        font-size: 30px;
    }
    .logo{
        width: 60%;
    }
    .danhmuc-danhsach{
        display: none;
    }
}